# ======================================
# BUILD OUTPUT
# ======================================

target/
build/
dist/
out/

# ======================================
# ENVIRONMENT FILES
# ======================================

.env
.env.*
*.env
!.env.example

# ======================================
# LOCAL SPRING CONFIG
# ======================================

src/main/resources/application-local.properties

# ======================================
# LOG FILES
# ======================================

logs/
*.log

# ======================================
# INTELLIJ IDEA
# ======================================

.idea/
*.iml
*.iws
*.ipr

# ======================================
# VS CODE
# ======================================

.vscode/

# ======================================
# STS / ECLIPSE
# ======================================

.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# ======================================
# NETBEANS
# ======================================

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ======================================
# OS FILES
# ======================================

.DS_Store
Thumbs.db

# ======================================
# DOCKER
# ======================================

docker-data/

# ======================================
# MAVEN WRAPPER
# ======================================

!.mvn/wrapper/maven-wrapper.jar

.env.prod.local