# ======================================
# DEPENDENCIES
# ======================================

node_modules/

# ======================================
# BUILD OUTPUT
# ======================================

dist/
build/

# ======================================
# ENVIRONMENT FILES
# ======================================

.env
.env.*
*.env
!.env.example

# ======================================
# LOG FILES
# ======================================

logs/
*.log

# ======================================
# VITE
# ======================================

vite.svg

# ======================================
# IDE FILES
# ======================================

.vscode/
.idea/

*.iml
*.ipr
*.iws

# ======================================
# OS FILES
# ======================================

.DS_Store
Thumbs.db